* {
    margin: 0;
    padding: 0;
    user-select: none;
}

#canvas1 {
    margin: 0;
    position: absolute;
}

.menu {
    background-color: black;
    position: absolute;
    width: 250px;
    height: 100vh;
    color: white;
    text-align: center;
    font-size: 17px;
    line-height: 30px;
}

button {
    padding: 10px;
    font-size: 20px;
}

.line {
    border-bottom: 2px solid white;
    width: 100%;
  }

.timer {
    position: absolute;
    right: 0;
    top: 0;
    background-color: black;
    color: white;
    padding: 20px;
    width: 100px;
    font-size: 25px;
    text-align: right;
}

.view {
    position: absolute;
    top: 12.5px;
    right: 150px;
}